autopep8==2.0.2
certifi==2022.12.7
charset-normalizer==3.1.0
comtypes==1.1.14
idna==3.4
PyAudio==0.2.13
pycodestyle==2.10.0
pyjokes==0.6.0
pypiwin32==223
pyttsx3==2.90
pywin32==305
requests==2.28.2
SpeechRecognition==3.9.0
urllib3==1.26.14
